{{#each this}}
<li class="gallery__item" data-id="{{id}}">
    <div class="gallery__thumb">
        {{#if poster_path}}
        <img class="gallery__img" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" loading="lazy">
        {{else}}
        <img class="gallery__img" src="https://i.pinimg.com/originals/74/3d/b2/743db230d891b47c1d8c66b161111b91.jpg" loading="lazy">
        {{/if}}
        {{#if release_date}}
        <span class="gallery__date">{{release_date}}</span>
        {{else}}
        <span class="gallery__date">N/A</span>
        {{/if}}
        <div class="gallery__rating">
            <span class="gallery__rating-data">{{vote_average}}</span>
            <span class="gallery__rating-text">tmdb</span>
        </div>
    </div>
    <div class="gallery__content">
        <h2 class="gallery__title">{{title}}</h2>
        <p class="gallery__genre">{{genres}}</p>
    </div>
</li>
{{/each}}